<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <title> <%= title %> </title>
  
  <script id="post-vert" type="x-shader/x-vertex">
    varying vec2 vUv;

    void main() {
      vUv = uv;
      gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
    }
  </script>
  <script id="post-frag" type="x-shader/x-fragment">
    #include <packing>

    varying vec2 vUv;
    uniform sampler2D tDiffuse;
    uniform sampler2D tDepth;
    uniform float cameraNear;
    uniform float cameraFar;


    float readDepth( sampler2D depthSampler, vec2 coord ) {
      float fragCoordZ = texture2D( depthSampler, coord ).x;
      float viewZ = perspectiveDepthToViewZ( fragCoordZ, cameraNear, cameraFar );
      return viewZToOrthographicDepth( viewZ, cameraNear, cameraFar );
    }

    void main() {
      //vec3 diffuse = texture2D( tDiffuse, vUv ).rgb;
      float depth = readDepth( tDepth, vUv );

      gl_FragColor.rgb = 1.0 - vec3( depth );
      gl_FragColor.a = 1.0;
    }
  </script>
</head>

<body>
  <canvas class="theCanvas" id="canvas"></canvas>

  <script type="module" src="threeProject.js"></script>
</body>
</html>